{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1>Homepage</h1>

    <a href="{{ url('collection_create') }}">
        <button>Nouvelle collection</button>
    </a>
    <br><br>

    {% if app.user %}
        <a href="{{ url('myaccount_home') }}">
            <button>Gestion du compte</button>
        </a>
        <br><br>
        <a href="{{ url('security_logout') }}">
            <button>Déconnexion</button>
        </a>
    {% else %}
        <a href="{{ url('security_login') }}">
            <button>Connexion</button>
        </a>
    {% endif %}

{% endblock %}
