{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1>Homepage</h1>

    {% if app.user %}
        <a href="{{ url('security_logout') }}">
            <button>Déconnexion</button>
        </a>
    {% else %}
        <a href="{{ url('security_login') }}">
            <button>Connexion</button>
        </a>
    {% endif %}

{% endblock %}
