<nav>
    <ul>
        <li><a href="">Mon compte</a></li>
        <li><a href="{{ url('myaccount_notification_preferences') }}">Préférences de notification</a></li>
        <li><a href="">Mot de passe</a></li>
        <li><a href="">Informations personnelles</a></li>
    </ul>
</nav>