<nav>
    <ul>
        <li><a href="{{ url('myaccount_home') }}">Mon compte</a></li>
        <li><a href="{{ url('myaccount_notification_preferences') }}">Préférences de notification</a></li>
        <li><a href="{{ url('myaccount_change_password') }}">Mot de passe</a></li>
        <li><a href="{{ url('myaccount_personal_data') }}">Informations personnelles</a></li>
    </ul>
</nav>