{% extends 'base.html.twig' %}

{% block body %}

    {{ include('myaccount/_menu.html.twig') }}

    <h1>Préférences de notification</h1>

    {% if email.email and email.verified == false %}
        <p>
            Cette adresse e-mail est en attente d'activation.
            Pour cela, nous vous avons expédié un e-mail.
        </p>
    {% endif %}

    {{ form_start(form) }}
        {{ form_row(form) }}
        <button type="submit">Modifier</button>
    {{ form_end(form) }}

{% endblock %}

