{% extends 'base.html.twig' %}
{% block body %}
    <h1>Nouvelle collection</h1>
    {{ form_start(form) }}
        {{ form_row(form) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}