{% extends 'emails/base-email.html.twig' %}
{% block body %}
    <p>Vous venez de redéfinir votre mot de passe et avez demandé à le recevoir par e-mail.</p>
    <p>Votre nouveau mot de passe est : "{{ newPassword }}".</p>
{% endblock %}