{% extends 'emails/base-email.html.twig' %}
{% block body %}
    <p>
        Je suis honoré que vous ayez choisi le <em>Domaine des Collections</em>
        pour gérer vos collections.
    </p>
    {{ include('emails/_activate-email.html.twig') }}
{% endblock %}